<div class="wrapper">
  <div class="container" style="text-align: center;">
      <div class="col-md-8 content-center" style="display: inline-block;">
          <div>
              <mat-card class="z-depth-5" style="margin-top: 100px;">
                <form class="form" #ownerForm="ngForm">

                  <div class="header header-primary text-center">
                      <div class="logo-container">
                          <img class="logo-image-signup" src="assets/couponnow/logo-transparent.png" >
                      </div>
                  </div>

                  <div>

                      <mat-form-field>
                          <input #firstnameInput name="firstname" [(ngModel)]="ownerInfo.firstname" matInput type="text" required>
                          <!-- <mat-label class="color-placeholder">Firstname</mat-label> -->
                          <mat-error *ngIf="firstnameInput.invalid"> Please enter your Firstname.</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                          <input #lastnameInput="ngModel" name="lastname" ngModel matInput type="text" placeholder="Lastname" [(ngModel)]="ownerInfo.lastname" required>
                          <mat-label class="color-placeholder">Lastname</mat-label>
                          <mat-error *ngIf="lastnameInput.invalid"> Please enter your Lastname.</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input #emailInput="ngModel" name="email" ngModel matInput type="email" placeholder="E-mail" [(ngModel)]="ownerInfo.email" required email>
                            <mat-label class="color-placeholder">E-mail</mat-label>
                            <mat-error *ngIf="emailInput.invalid"> Please enter a valid E-mail.</mat-error>
                          </mat-form-field>

                    <mat-form-field>
                      <input #phoneInput="ngModel" name="phone" ngModel matInput type="number" placeholder="Phone Number" required minlength="10" maxlength="10" [(ngModel)]="ownerInfo.phone">
                      <mat-label class="color-placeholder">Number</mat-label>
                      <mat-error *ngIf="phoneInput.invalid"> Please enter a valid Phone Number.</mat-error>
                    </mat-form-field>



                  </div>
                  <div class="footer text-center">
                      <button class="btn btn-primary btn-round btn-lg btn-block">Save Changes</button>
                      <button class="btn btn-danger btn-round btn-lg btn-block">Cancel</button>
                  </div>
              </form>
              </mat-card>
          </div>
      </div>
  </div>
</div>
