<!-- <div class="z-depth-5">
  <mat-card>
    <!-- Creating a Login form using Angulars FormsModule wiht the submit function onLogin() implemented
    <form #loginForm="ngForm" (submit)="onLogin(loginForm)">

      <!-- First input field for email address of the user
      <mat-form-field>
        <!-- Email input using ngModel with the validators and the given name
        <input #emailInput="ngModel" name="email" ngModel matInput type="email" placeholder="E-mail" required email>
        <mat-error *ngIf="emailInput.invalid"> Please enter a valid email.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <!-- Password input using ngModel with the validators and the given name
          <input matInput type="password" name="password" ngModel  placeholder="Password" #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid"> Please enter a valid password.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <!-- Selectors for Account types
        <mat-select name="type" placeholder="Account Type" ngModel #accountType="ngModel" required>
          <mat-option value="customer">Customer</mat-option>
          <mat-option value="owner">Business Owner</mat-option>
        </mat-select>
        <mat-error *ngIf="accountType.invalid"> Please select a valid Account Type.</mat-error>
      </mat-form-field>

      <!-- Login button
      <button mat-raised-button color="primary">Login</button>
    </form>
  </mat-card>
</div> -->

<!-- <div class="page-header" filter-color="orange"> -->
  <!-- <div class="page-header-image" style="background-image:url(assets/couponnow/logo1-edited.png);"></div> -->
  <div class="wrapper">
  <div class="container" style="text-align: center;">
      <div class="col-md-8 content-center" style="display: inline-block;">
          <div>
             <mat-card class="z-depth-4" style="margin-top: 100px;">
              <form class="form" #loginForm="ngForm" (submit)="onLogin(loginForm)">

                <div class="header header-primary text-center">
                    <div class="logo-container">
                        <img src="assets/couponnow/logo-transparent.png"  class="logo-image-signup">
                    </div>
                </div>

                <div>

                  <mat-form-field appearance="fill">
                    <input #emailInput="ngModel" name="email" ngModel matInput type="email" placeholder="E-mail" required email>
                    <mat-label class="color-placeholder">E-mail Address</mat-label>
                    <mat-error *ngIf="emailInput.invalid" class="login-placeholder"> Please enter a valid email.</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                        <input matInput type="password" name="password" ngModel #passwordInput="ngModel" required>
                        <mat-label class="color-placeholder">Password</mat-label>
                        <mat-error *ngIf="passwordInput.invalid" class="login-placeholder"> Please enter a valid password.</mat-error>
                  </mat-form-field>

                  <!-- <mat-form-field appearance="fill">
                      <mat-select name="type" placeholder="Account Type" ngModel #accountType="ngModel" required>
                          <mat-option value="customer">Customer</mat-option>
                          <mat-option value="owner">Business Owner</mat-option>
                      </mat-select>
                      <mat-label class="color-placeholder">Select Account Type</mat-label>
                      <mat-error *ngIf="accountType.invalid" class="login-placeholder"> Please select a valid Account Type.</mat-error>
                  </mat-form-field> -->

                </div>
                <div class="footer text-center">
                    <button class="btn btn-primary btn-round btn-lg btn-block">Login</button>
                </div>
                <!-- <div class="pull-left">
                    <h6>
                        <a href="#pablo" class="link">Create Account</a>
                    </h6>
                </div>
                <div class="pull-right">
                    <h6>
                        <a href="#pablo" class="link">Need Help?</a>
                    </h6>
                </div> -->
            </form>
             </mat-card>
          </div>
      </div>
  </div>
</div>


