.container {
  margin-top: 100px;
}

.mat-card-header {
  margin-bottom: 2rem;
}

.flex-container {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.flex-row mat-form-field {
  flex: 1;
  margin: 1px;
}
