<!-- <mat-card>
  <!-- Creating a Login form using Angulars FormsModule wiht the submit function onLogin() implemented
  <form #customerForm="ngForm" (submit)="onSignup(customerForm)">
    <!-- Firstname input using ngModel with the validators and the given name
    <mat-form-field>
        <input #firstnameInput="ngModel" name="firstname" ngModel matInput type="text" placeholder="Firstname" required>
        <mat-error *ngIf="emailInput.invalid"> Please enter your Firstname.</mat-error>
    </mat-form-field>

    <!-- Lastname input using ngModel with the validators and the given name
    <mat-form-field>
      <input #lastnameInput="ngModel" name="lastname" ngModel matInput type="text" placeholder="Lastname" required>
      <mat-error *ngIf="emailInput.invalid"> Please enter your Lastname.</mat-error>
    </mat-form-field>

    <!-- Email input using ngModel with the validators and the given name
    <mat-form-field>
      <input #emailInput="ngModel" name="email" ngModel matInput type="email" placeholder="E-mail" required email>
      <mat-error *ngIf="emailInput.invalid"> Please enter a valid E-mail.</mat-error>
    </mat-form-field>

     <!-- Password input using ngModel with the validators and the given name
    <mat-form-field>
        <input matInput type="password" name="password" ngModel  placeholder="Password" #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid"> Please enter a valid Password.</mat-error>
    </mat-form-field>



    <!-- Signup button --
    <button mat-raised-button color="primary">Sign Up</button>
  </form>
</mat-card> -->

<div class="wrapper">
    <div class="container" style="text-align: center;">
        <div class="col-md-8 content-center" style="display: inline-block;">
            <div>
               <mat-card class="z-depth-5" style="margin-top: 100px;">
                <form class="form" #customerForm="ngForm" (submit)="onSignup(customerForm)">

                  <div class="header header-primary text-center">
                      <div class="logo-container">
                          <img class="logo-image-signup" src="assets/couponnow/logo-transparent.png" >
                      </div>
                  </div>

                  <div>
                      <mat-form-field appearance="fill">
                          <input #firstnameInput="ngModel" name="firstname" ngModel matInput type="text" placeholder="Firstname" required>
                          <mat-label class="color-placeholder">Firstname</mat-label>
                          <mat-error *ngIf="emailInput.invalid"> Please enter your Firstname.</mat-error>
                      </mat-form-field>

                      <!-- Lastname input using ngModel with the validators and the given name -->
                      <mat-form-field appearance="fill">
                        <input #lastnameInput="ngModel" name="lastname" ngModel matInput type="text" placeholder="Lastname" required>
                        <mat-label class="color-placeholder">Lastname</mat-label>
                        <mat-error *ngIf="emailInput.invalid"> Please enter your Lastname.</mat-error>
                      </mat-form-field>

                      <!-- Email input using ngModel with the validators and the given name -->
                      <mat-form-field appearance="fill">
                        <input #emailInput="ngModel" name="email" ngModel matInput type="email" placeholder="E-mail" required email>
                        <mat-label class="color-placeholder">E-mail</mat-label>
                        <mat-error *ngIf="emailInput.invalid"> Please enter a valid E-mail.</mat-error>
                      </mat-form-field>

                       <!-- Password input using ngModel with the validators and the given name -->
                      <mat-form-field appearance="fill">
                          <input matInput type="password" name="password" ngModel  placeholder="Password" #passwordInput="ngModel" required minlength="6" maxlength="10" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]+$">
                          <mat-label class="color-placeholder">Password</mat-label>
                          <mat-error *ngIf="passwordInput.invalid"> Please enter a valid Password.</mat-error>
                          <mat-error *ngIf="passwordInput.invalid"> The password must be between 6 to 10 characters long and contain an uppercase, a lowercase and a number.</mat-error>
                      </mat-form-field>


                  </div>
                  <div class="footer text-center">
                      <button class="btn btn-primary btn-round btn-lg btn-block">Sign Up</button>
                  </div>
              </form>
               </mat-card>
            </div>
        </div>
    </div>
  </div>

