<div class="wrapper">
    <div class="container" style="text-align: center;">
        <div class="col-md-8 content-center" style="display: inline-block;">
            <div>
                <mat-card class="z-depth-5" style="margin-top: 100px;">
                  <form class="form" [formGroup]="form" (submit)="onCreateCampaign()">
                    <h2 class="title"> Your Campaign Details</h2>
                    <div>
                        <mat-form-field appearance="fill">
                            <input
                            formControlName="name"
                            matInput type="text"
                            placeholder="Campaign Name">
                            <mat-error *ngIf="form.get('name').invalid"> Please enter a valid name for the Campaign.</mat-error>
                          </mat-form-field>

                          <mat-form-field appearance="fill">
                            <mat-select
                              formControlName="business"
                              placeholder="Select Business"
                              (onclick)="onChangeBusiness($event)">
                              <mat-option
                                *ngFor="let business of business"
                                [value]="business.name">
                                {{ business.name }}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('business').invalid"> Please select a valid Business from the drop down.</mat-error>
                          </mat-form-field>

                          <mat-form-field appearance="fill">
                            <mat-select
                            formControlName="location"
                            placeholder="Select Location"
                            multiple>
                              <mat-option
                                *ngFor="let location of gottemlocations"
                                [value]="location.name">
                                {{ location.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="fill">
                            <input
                            formControlName="maxQty"
                            matInput type="number"
                            placeholder="Max Coupons">
                            <mat-error
                            *ngIf="form.get('maxQty').invalid">
                            Please enter amount.
                          </mat-error>
                          </mat-form-field>

                          <section>
                            <mat-form-field class="date" appearance="fill">
                              <input
                              matInput [min]="minDate"
                              [max]="maxDate"
                              [matDatepicker]="picker"
                              placeholder="Choose a start date"
                              formControlName="startDate">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                              <mat-error *ngIf="form.get('startDate').invalid"> Please select a valid Start Date.</mat-error>
                            </mat-form-field>

                            <mat-form-field class="date" appearance="fill">
                              <input
                              matInput [min]="minDate"
                              [max]="maxDate"
                              [matDatepicker]="maxpicker"
                              placeholder="Choose an end date"
                              formControlName="endDate">
                              <mat-datepicker-toggle matSuffix [for]="maxpicker"></mat-datepicker-toggle>
                              <mat-datepicker #maxpicker></mat-datepicker>
                              <mat-error *ngIf="form.get('endDate').invalid"> Please select a valid End Date.</mat-error>
                            </mat-form-field>
                          </section>
                      </div>
                      <div>
                        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
                        <input type="file" #filePicker >
                      </div>
                      <div class="footer text-center">
                          <button class="btn btn-primary btn-round btn-lg btn-block">Create Campaign</button>
                      </div>
                  </form>
                </mat-card>
            </div>
        </div>
    </div>
  </div>
