<mat-card>
  <mat-card-title >Create Campaign</mat-card-title>
  <form #campaignForm="ngForm" (submit)="onCreateCampaign(campaignForm)">
    <mat-form-field>
      <input #campaignNameInput="ngModel" name="campaignName" ngModel matInput type="text" placeholder="Campaign Name" required >
      <mat-error *ngIf="campaignNameInput.invalid"> Please enter a valid name for the Campaign.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="business" placeholder="Select Business" (ngModelChange)="onChangeBusiness($event)" ngModel #businessName="ngModel" required>
        <mat-option *ngFor="let business of business" [value]="business.name">{{ business.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="businessName.invalid"> Please select a valid Business from the drop down.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="locations" placeholder="Select Location" ngModel #locationName="ngModel" required multiple>
        <mat-option *ngFor="let location of gottemlocations" [value]="location.name">{{ location.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input #maxQtyInput="ngModel" name="maxQty" ngModel matInput type="number" placeholder="Max Coupons" required >
      <mat-error *ngIf="maxQtyInput.invalid"> Please enter amount.</mat-error>
    </mat-form-field>

    <section>
      <mat-form-field class="date">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a start date" name="startDate" ngModel #startDate="ngModel" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="startDate.invalid"> Please select a valid Start Date.</mat-error>
      </mat-form-field>

      <mat-form-field class="date">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="maxpicker" placeholder="Choose an end date" name="endDate" ngModel #endDate="ngModel" required>
        <mat-datepicker-toggle matSuffix [for]="maxpicker"></mat-datepicker-toggle>
        <mat-datepicker #maxpicker></mat-datepicker>
        <mat-error *ngIf="endDate.invalid"> Please select a valid End Date.</mat-error>
      </mat-form-field>
    </section>

    <button mat-raised-button color="primary">Create Campaign</button>
  </form>
</mat-card>
