  <!-- This is the second Section where the Information About what the company does is written -->
  <div id="about-us" class="section section-about-us" style="background-color: white;">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Sign Up To Begin!</h2>
              </div>
          </div>
          <div class="separator separator-primary"></div>
            <a id="Signup" name="SignUp"></a>
              <div class="section-story-overview">
                  <div class="row" id="sign-up-section">
                          <div class="col-md-4 image-container" style="background-color: #FF5A09; padding-top: 20px; padding-bottom: 5px;">
                            <div class="text-center">
                                <a [routerLink]="['/ownersignup']"  style="color: white; text-decoration: none;">
                                    <h2 class="title">Business Owners</h2>
                                    <h5 class="description" style="color: white;">
                                        Sign up with us today and start running campaigns that attract more customers than traditional marketing while costing much less.
                                    </h5>
                                </a>
                            </div>
                          </div>

                        <div class="col-md-4">

                        </div>

                        <div class="col-md-4 image-container" style="background-color: #00303F; padding-top: 20px; padding-bottom: 5px;">
                          <div class="text-center">
                              <a [routerLink]="['/customersignup']" style="color: white; text-decoration: none;">
                                  <h2 class="title">Customers</h2>
                                  <h5 class="description" style="color: white;">
                                      Sign Up and let the deals come to you, at your convenience, when you need them.
                                  </h5>
                              </a>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
  </div>
