<div class="wrapper">
  <div class="container" style="text-align: center;">
      <div class="col-md-8 content-center" style="display: inline-block;">
          <div>
              <mat-card class="z-depth-5" style="margin-top: 100px;">
          <mat-card-title>Businesses</mat-card-title>
          <mat-accordion multi="true" *ngIf="businesslist.length > 0">
            <mat-expansion-panel *ngFor="let business of businesslist">
              <mat-expansion-panel-header>
                {{ business.businessname }} <br />
                License: 
                {{ business.licensenum }}
              </mat-expansion-panel-header>
              Locations:<br />
              <ul style="list-style-type:none;" *ngFor="let location of business.locations">
                <li>{{ location.streetnum }} {{ location.streetname }}</li>
                <li>{{ location.city }}</li>
                <li>{{ location.postalcode}}</li>
              </ul>
            <!--
              <mat-action-row>
                <button mat-button color="primary">EDIT</button>
                <button mat-button color="warn" >DELETE</button>
              </mat-action-row>
            -->
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
        <p class="info-text mat-body-1"
        *ngIf="businesslist.length <= 0">
        No businesses added yet!</p>
        <a [routerLink]="['/business']"><button type="button" class="btn btn-info" style="width: 200px;">Add a Business</button></a>
        <a [routerLink]="['/addlocation']"><button type="button" class="btn btn-info" style="width: 200px;">Add Location</button></a>
      </div>
    </div>
  </div>