/* .example-fill-remaining-space {
  flex: 1 1 auto;
} */

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
} */

/* a {
  text-decoration: none;
} */

/* a:visited {
  color: white;
} */

.navbar-default{
  transition:500ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background:#000;
}
