<div class="container center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>What are you interested in hearing about?</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="onSubmitInterests()">

      <div class="container">
        <label  *ngFor="let interest of interests">
          <input type="checkbox" (change)="onSelect($event)" [value]="interest.name">
          {{ interest.name }}
        </label>
      </div>

      <br/>
      <div class="container center">
        <div *ngIf="!form.valid">At least one interest must be selected</div>
        <button mat-stroked-button>submit</button>
      </div>
    </form>
  </mat-card>
</div>
